<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Books and Magazines</title>
</head>

<body>
    <h1> Books and magazines sorted by title</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">ISBN</th>
                <th scope="col">Authors</th>
                <th scope="col">Description</th>
                <th scope="col">Published At</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((obj, index)=>{ %>
                <tr>
                    <th scope="row">
                        <%= index+1 %>
                    </th>
                    <td>
                        <%= obj['﻿title'] %>
                    </td>
                    <td>
                        <%= obj['isbn'] %>
                    </td>
                    <td>
                        <%= obj['authors'] %>
                    </td>
                    <td>
                        <%= obj['description'] %>
                    </td>
                    <td>
                        <%= obj['publishedAt'] %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>